@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");
@import "tailwindcss";
@import "@radix-ui/themes/styles.css" layer(base);

@plugin "@tailwindcss/typography";

:root {
  --radix-accordion-content-height: 0;
}

@utility custom-container {
  @apply md:max-w-6xl sm:max-w-4xl lg:max-w-5xl px-8 sm:px-14 lg:px-16 mx-auto w-full;
}

@theme {
  /* Fonts */
  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;

  /* Animations */
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

.radix-themes {
  --default-font-family: var(--font-sans);
  --heading-font-family: var(--font-display);
  --code-font-family: var(--font-mono);
  --strong-font-family: var(--font-sans);
}
